@import "tailwindcss";

@theme {
  --color-beige-50: oklch(0.955 0.014 124.44);
  --color-beige-100: oklch(0.912 0.021 127.33);
  --color-beige-200: oklch(0.826 0.021 128.67);
  --color-beige-300: oklch(0.74 0.018 125.31);
  --color-beige-400: oklch(0.654 0.015 124.61);
  --color-beige-500: oklch(0.567 0.013 128.64);
  --color-beige-600: oklch(0.481 0.01 128.61);
  --color-beige-700: oklch(0.397 0.011 128.7);
  --color-beige-800: oklch(0.31 0.008 128.66);
  --color-beige-900: oklch(0.224 0.006 121.86);
  --color-beige-950: oklch(0.176 0.004 128.67);
  --color-racingred-50: oklch(0.959 0.017 17.56);
  --color-racingred-100: oklch(0.918 0.036 17.86);
  --color-racingred-200: oklch(0.845 0.072 18.7);
  --color-racingred-300: oklch(0.765 0.121 19.64);
  --color-racingred-400: oklch(0.693 0.172 22.22);
  --color-racingred-500: oklch(0.616 0.225 26.41);
  --color-racingred-600: oklch(0.524 0.192 26.53);
  --color-racingred-700: oklch(0.424 0.155 26.31);
  --color-racingred-800: oklch(0.333 0.122 26.56);
  --color-racingred-900: oklch(0.234 0.085 25.97);
  --color-racingred-950: oklch(0.184 0.068 25.28);
  --color-junglegreen-50: oklch(0.947 0.079 163.45);
  --color-junglegreen-100: oklch(0.893 0.175 163.9);
  --color-junglegreen-200: oklch(0.806 0.17 164.18);
  --color-junglegreen-300: oklch(0.732 0.156 163.73);
  --color-junglegreen-400: oklch(0.645 0.137 164.04);
  --color-junglegreen-500: oklch(0.564 0.12 163.8);
  --color-junglegreen-600: oklch(0.48 0.101 164.13);
  --color-junglegreen-700: oklch(0.385 0.081 164.21);
  --color-junglegreen-800: oklch(0.302 0.064 164.83);
  --color-junglegreen-900: oklch(0.219 0.047 163.19);
  --color-junglegreen-950: oklch(0.173 0.037 164.84);
  --color-huntergreen-50: oklch(0.962 0.032 149.51);
  --color-huntergreen-100: oklch(0.923 0.073 149.65);
  --color-huntergreen-200: oklch(0.849 0.111 149.48);
  --color-huntergreen-300: oklch(0.783 0.103 149.16);
  --color-huntergreen-400: oklch(0.713 0.093 149.41);
  --color-huntergreen-500: oklch(0.638 0.084 149.56);
  --color-huntergreen-600: oklch(0.57 0.075 149.12);
  --color-huntergreen-700: oklch(0.501 0.065 149.34);
  --color-huntergreen-800: oklch(0.435 0.057 149.43);
  --color-huntergreen-900: oklch(0.288 0.037 150.17);
  --color-huntergreen-950: oklch(0.211 0.027 150.81);
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-beige-100);
  background-color: var(--color-beige-900);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
